<!DOCTYPE html>

<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
    <link href="/static/favicon.ico" rel="icon">

    <link href="/static/styles.css" rel="stylesheet"/>

    <title>ClioCrypt</title>

  </head>

  <body class="body">

  <div class="navbar">
    <a class="home-link center" href="/#main">ClioCrypt</a>
  </div>

    <div class="container-fluid">
      <div>
        {% block body %}{% endblock %}
      </div>
    </div>

  </body>
</html>
